body{
 font-size:1em;
 font-weight:normal;
 font-family: Arial;
 color:#000000; /*black*/
 text-align:left;
 background-color:#062c86;
 max-width: 80%;
}
h1{
 font-size:1.8em;
 font-weight:bold;
 color:#076ffb;
 text-align:center;
 background-color: white;
 border-color: black;
 border-bottom-right-radius: 10em;
 height: auto;
 width: auto;
}
a{
  font-family: cursive;
  color:#96BFD1;

}
td:hover{
  background-color: #42D3ED;
}
ol{
  font-family: cursive;
  color:black;
  height: auto;
  width: auto;
  background-color: #00acfd;
  border-radius: 10px;
}
td{
  height: auto;
  width: auto;
  background-color: black;
  border-radius: 10em;
  text-align: center;
}
 span{
  color:white;
 }
h2{
   height: auto;
   width: auto;
   background-color:black;
   border-radius: 50em;
   text-align: center;
}
p{
  color:white;
  height: auto;
  width: auto;
  background-color: #00acfd;
  border-radius: 10px;
}
li{
  color:white;
}

{
}
