@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
/* Do not change this style */
.rectangle {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}

#kerning {
  /*http://www.w3schools.com/cssref/pr_text_letter-spacing.asp*/
  letter-spacing: 5px;
}

#leading {
  /*http://www.w3schools.com/cssref/pr_dim_line-height.asp*/
  line-height: 275%;
}
/* Do not change this style */
.align {
  max-width: 80%;
  margin: 1em auto;
}

#left_align {
  /* Use the text-align property to left-align the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
   text-align: left;
}

#right_align {
  /* Use the text-align property to right-align the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
   text-align: right;
}

#justify {
  /* Use the text-align property to justify the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
   text-align: justify;
}

#center {
  /* Use the text-align property to justify the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
   text-align: center;
}
/* Do not change this style */
section {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 560px;
  width: 560px;
  margin: 0 auto;
}

/* Do not change this style */
section p {
  font-size: 1.1em;
  margin: 2em 4em;
  max-width: 55%;
}

/* Change this style */
 #biggerText {
  font-size: 2em;
  color:black;
}

/* Change this style */
.indent {
 padding-left: 115px;
 }

#title {
  font-size: 2em;
}

#typ {
  color: grey;
}

#paul {
  font-size: 2em;
}

#Lewis{
  padding-left: 115px;
}
/*lesson 10 Assignment Styles*/
/*
  POSTER TYPOGRAPHY ASSIGNMENT CRITERIA:
  * Use two different typefaces (a serif and a sans-serif)
  * Use at least three different font-sizes
  * Use a color that contrasts with the background image
      * Recommended to use the text-shadow property to increase contrast
  * Use a hierarchy that emphasizes the most important words
      * Font size, font weight, logical grouping, orientation
  */

#grandCanyon {
  background-image: url("../images/grand_canyon.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 800px;
  margin:0 auto;
  font-family: "Aref Ruqaa";
}

#Park{
  font-weight: bold;
  font-size: 2.5em;
}
#banner{
  border-radius: 1em;
  /*text-align: center;*/
  margin-left: 40px;
  margin-top: 150px;
  padding: 20px 0px;
  font-size: 1em;
  height: 110px;
  width: 275px;
  background-color: white;
}

#bannerP{
  font-weight: bolder;
  line-height: 200%;
  font-size: 1.12em;
  margin: 0% 0% 14% 9%;
}

#miles{
  padding-left: 300px;
}
