/* Do not change this style */
.rectangle {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}

#kerning {
  /*http://www.w3schools.com/cssref/pr_text_letter-spacing.asp*/
  letter-spacing: 5px;
}

#leading {
  /*http://www.w3schools.com/cssref/pr_dim_line-height.asp*/
  line-height: 275%;
}
